#banner {
  background-size: cover;
  background-image: url(../img/metting.jpg);
  overflow: hidden;
  height: 55vh;
  width: 100%;
  text-align: center;
}
#banner .h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  font-weight: 600;
  margin-top: 100px;
}
#banner .p1 {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.main-nav {
  display: flex;
  width: 100%;
  height: 20%;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-color: #333645;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}
.main-nav a:hover .software {
  background-color: #67809f;
}
.main-nav a:hover .support {
  background-color: #20caf5;
}
.main-nav a:hover .marketing {
  background-color: green;
}
.main-nav a:hover .telecoms {
  background-color: #f72323;
}
.main-nav a:hover .web-design {
  background-color: magenta;
}
.main-nav a:hover .cyber-security {
  background-color: #f5116c;
}
.main-nav a:hover .developer-course {
  background-color: orange;
}
.main-nav span {
  padding: 5px;
}
.main-nav small {
  font-size: 10px;
}
.main-nav a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}
.main-nav .first-list {
  list-style: none;
  color: #fff;
}
.main-nav li {
  display: inline-block;
}

#body-shadow {
  display: hidden;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.sidebar {
  overflow: hidden;
  transition: 0.5s;
  height: 100%;
  position: fixed;
  z-index: 9998;
  right: 0;
  background-color: #333645;
  width: 0;
  top: 0;
  color: #fff;
  overflow-y: scroll;
  bottom: 0;
}
.sidebar li {
  list-style: none;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
  line-height: 20px;
  border-top: 1px solid black;
  margin-right: 20px;
  margin-left: 20px;
}
.sidebar ul {
  padding-left: 0;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
}
.sidebar h3 {
  padding-bottom: 10px;
  font-size: 17px;
  margin-left: 10px;
  height: 10px;
  margin-bottom: 20px;
}
.sidebar .right-arrows {
  font-size: 8px;
  margin-right: 20px;
  margin-left: 10px;
}
.sidebar #top-sidebar {
  margin-top: 20px;
  border: 1px solid black;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 1;
}
.sidebar span {
  font-size: 25px;
  margin-top: 20px;
}
.sidebar .bigger-nav-button {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid black;
  text-align: center;
}
.sidebar .top-li {
  border: none;
}
.sidebar .small-screen {
  text-align: center;
}
.sidebar .big-screen li {
  width: 100%;
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
  line-height: 20px;
  border-top: 1px solid black;
  margin-left: 0;
}
.sidebar .small-screen-content li {
  width: 100%;
  padding-bottom: 20px;
  line-height: 20px;
  border-top: 1px solid black;
  margin-left: 0;
}
.sidebar .small-screen-content .big-screen .right-arrows {
  margin-right: 10px;
  margin-left: 0;
}

.header-content {
  margin-top: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-logo {
  float: left;
  width: 38vw;
  height: 8vh;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 16px;
}

.contact {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 120px;
}

.form-control {
  float: left;
  width: 93%;
  height: 40px;
  margin-bottom: 10px;
  background-color: #e3e3e3;
  color: #7a7a7a;
  font-size: 20px;
  border: none;
  padding-left: 10px;
}

.form-control:focus {
  outline: none;
}

.header a {
  height: 60px;
}

.header-up {
  top: -10vh;
}

.first-cell {
  left: 0;
}

.cards {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, max-width(900px, 1fr));
  gap: 40px;
  font-family: sans-serif;
  text-align: center;
}
.cards a {
  text-decoration: none;
  color: grey;
}

.card {
  box-shadow: 0 0 3px rgb(0, 0, 0);
  padding: 10px;
  border-radius: 15px;
  height: 31vh;
}

.card:hover {
  cursor: pointer;
}

.first-card:hover {
  background-color: #67809f;
  color: #fff;
  margin-bottom: 5px;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.first-card {
  border-radius: 15px;
}

.second-card:hover {
  background-color: #4183d7;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.second-card {
  border-radius: 15px;
}

.third-card:hover {
  background-color: #2ecc71;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.third-card {
  border-radius: 15px;
}

.fourth-card:hover {
  background-color: #d64541;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.fourth-card {
  border-radius: 15px;
}

.fifth-card:hover {
  background-color: #926fb1;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.fifth-card {
  border-radius: 15px;
}

.sixth-card:hover {
  background-color: #f62459;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.sixth-card {
  border-radius: 15px;
}

.seventh-card:hover {
  background-color: #ce4125;
  color: #fff;
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.seventh-card {
  border-radius: 15px;
}

.card-image {
  width: 100%;
  height: 20vh;
  display: block;
}

.card-content {
  font-size: 14px;
}
.card-content p:first-of-type {
  margin-top: 0;
}
.card-content h2 {
  font-size: 20px;
}

.card-info {
  display: flex;
  justify-content: center;
}

.card-app {
  border-radius: 50%;
  background-color: gray;
}

.card-monitor {
  border-radius: 50%;
  background-color: cyan;
}

.card-bars {
  border-radius: 50%;
  background-color: lawngreen;
}

.card-phone {
  border-radius: 50%;
  background-color: red;
}

.card-code {
  border-radius: 50%;
  background-color: purple;
}

.card-shield {
  border-radius: 50%;
  background-color: pink;
}

.card-hat {
  border-radius: 50%;
  background-color: orange;
}

.card span {
  margin-top: 20px;
  padding: 15px;
  font-size: 30px;
  color: #fff;
}

.first-card:hover {
  cursor: pointer;
}

.about-section {
  background-color: #2c2738;
  color: #fff;
  padding-bottom: 60px;
  font-family: Verdana;
  padding-right: 30px;
}
.about-section .h2 {
  padding-top: 30px;
  font-size: 1.75rem;
  margin-bottom: 40px;
}
.about-section .beginning-about {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.about-section .beginning-about a {
  text-decoration: none;
  color: #fff;
}
.about-section .beginning-about p {
  line-height: 22px;
}
.about-section .beginning-about a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.about-section .about-continued {
  gap: 300px;
}
.about-section .about-continued p {
  padding-top: 30px;
  line-height: 22px;
}
.about-section .stars {
  color: goldenrod;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
.about-section .client-quote {
  font-size: 20px;
}
.about-section .client-name {
  padding-top: 10px;
  padding-bottom: 10px;
  color: gray;
  font-weight: 600;
}

.flex-container {
  gap: 2%;
}

#news-text {
  font-size: 2.7rem;
}

.main-article-img {
  width: 100%;
}

.news-content {
  box-shadow: 0 0 3px rgb(0, 0, 0);
  width: 90%;
}

.h4-news {
  color: green;
  padding-top: 10px;
  padding-left: 35px;
  font-size: 20px;
}

.description {
  padding-left: 40px;
  font-size: 15px;
}

.red-h4-news {
  color: red;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
}

.first-article:hover {
  transform: translateY(-10px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.second-article:hover {
  transform: translateY(-10px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.third-article:hover {
  transform: translateY(-10px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.posted-by-section {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  border-top: 1px solid lightgray;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 25px;
}

.avatar-img {
  margin: 10px;
}

.details {
  padding-top: 25px;
  padding-left: 15px;
}

.posted-strong {
  color: #333645;
  margin-top: 20px;
  line-height: 1.6rem;
  font-size: 15px;
  letter-spacing: normal;
}

.news-date {
  color: #333645;
  position: relative;
  margin-top: 40px;
}

.avatar-img {
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#posted-h5 {
  color: #333645;
}

#news-date {
  color: #333645;
  padding-bottom: 20px;
}

.view-all-section {
  margin-top: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.view-all-section .view-link {
  text-decoration: none;
  color: #333645;
}
.view-all-section .view-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.newsletter {
  background-color: lightgrey;
  padding-right: 30px;
}
.newsletter .newsletter-form a {
  text-decoration: underline;
  color: #333645;
}
.newsletter .h2-newsletter {
  color: #333645;
  font-size: 2rem;
  padding-top: 40px;
  padding-bottom: 20px;
}
.newsletter .information {
  width: 100%;
  height: 5vh;
  margin-bottom: 20px;
}
.newsletter .information:after {
  content: " *";
  color: red;
}
.newsletter .display-information {
  font-size: 20px;
  color: #333645;
  font-weight: bold;
}
.newsletter .display-information-2 {
  font-size: 20px;
  color: #333645;
  font-weight: bold;
}
.newsletter .tickbox {
  position: relative;
  height: 32px;
  width: 32px;
  border: 3px solid #333645;
  margin-right: 10px;
  float: left;
}
.newsletter .accept-information {
  font-size: 16px;
  line-height: 1.7rem;
  color: #333645;
  font-weight: bold;
}

.display-information:after {
  content: " * ";
  color: red;
}

.display-information-2:after {
  content: " * ";
  color: red;
}

footer {
  background-color: #333645;
  color: #fff;
  padding-top: 20px;
  font-family: Verdana;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-right: 40px;
}
footer .offices {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 10px;
}
footer h4 {
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-left: 40px;
  font-weight: normal;
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  cursor: pointer;
}
footer ul {
  list-style-type: none;
}
footer li {
  line-height: 22px;
  left: auto;
  font-size: 0.75rem;
}
footer .services-list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.line {
  border: 0.5px solid #fff;
  margin-bottom: 10px;
}

.bottom {
  color: #fff;
  padding-bottom: 40px;
}
.bottom .licence {
  display: flex;
  font-size: 13px;
  margin-left: 30px;
}
.bottom a {
  color: #fff;
  text-decoration: none;
}
.bottom a:hover {
  cursor: pointer;
}
.bottom ul {
  list-style-type: none;
  margin-top: -2px;
}

.social {
  margin-left: 30px;
}
.social span {
  justify-content: space-between;
  color: #fff;
  background-color: #333645;
}

.main-image {
  width: 100%;
}

.main-image .sponsers-carousel {
  margin-top: 20px;
  margin-bottom: 50px;
}

.sponsers-carousel img {
  height: 6vh;
  justify-content: cover;
}

.main-image .carousel-cell {
  width: 12vw;
  height: 80px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.main-image .carousel-nav .carousel-cell {
  height: 168px;
  width: 250px;
  opacity: 0.5;
}

.cookie-consent-modal {
  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 999;
  width: 30%;
  height: 40%;
  justify-content: center;
}

.content {
  border: 2px solid black;
  border-radius: 5px;
}
.content a {
  text-decoration: none;
  color: black;
}
.content h2 {
  color: #333645;
}

.cookie-consent-modal.active {
  display: flex;
}

.content {
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  word-spacing: 2px;
  font-size: 15px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn {
  border: none;
  outline: none;
  padding: 0.8em 1.5em;
  width: 50%;
  margin-right: 1em;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn.accept {
  background-color: #926fb1;
  color: white;
}

.flex-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-nav-container {
  height: 40px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: gray;
  color: black;
}

.text-nav {
  display: none;
  padding: 20px;
  font-size: 15px;
}
.text-nav a {
  text-decoration: none;
  color: #272a36;
}

#office-header {
  font-size: 2.25rem;
  color: #333645;
  font-weight: 400;
}

.location-container {
  width: 17.1vw;
  height: 60vh;
  border: 1px solid black;
  border-radius: 10px;
}

.location-img {
  width: 17vw;
  border-radius: 10px;
}

.location-header a {
  cursor: pointer;
  color: #333645;
  text-decoration: none;
  font-weight: 300;
}
.location-header a:hover {
  text-decoration: underline;
}

.location-details {
  line-height: 20px;
  font-size: 15px;
}

.location-phone-num a {
  font-size: 30px;
  cursor: pointer;
  color: #926fb1;
  text-decoration: none;
}
.location-phone-num a:hover {
  text-decoration: underline;
}

.view-more-button-tag {
  font-size: 16px;
  height: 50px;
  width: 120px;
  background-color: #926fb1;
  border-color: #926fb1;
  color: white;
}
.view-more-button-tag a {
  cursor: pointer;
}

@media (min-width: 600px) {
  .trustpilot-btn {
    width: 50%;
  }
  .google-btn {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .hamburger-btn {
    height: 60px;
    width: 70px;
    font-size: 35px;
  }
  #banner {
    text-align: center;
  }
  .contact:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .p1 {
    width: 100%;
  }
  .sidebar-navigation {
    display: none !important;
  }
  .news-content {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .contact {
    display: none !important;
  }
  .text-nav {
    display: inline;
  }
  .header {
    height: 10vh;
  }
  .hamburger-btn {
    height: 60px;
    width: 70px;
  }
  .form-control {
    padding-left: 20px;
  }
  .h1 {
    width: 100%;
  }
  .p1 {
    width: 100%;
  }
  .cards {
    max-width: 93%;
    margin-left: 40px;
  }
  .container-2 {
    justify-content: center;
  }
  #service {
    margin-left: 35px;
  }
  #news-text {
    margin-left: 35px;
  }
  .about-container {
    margin-left: 40px;
    padding-right: 50px;
    line-height: 1.875rem;
    letter-spacing: 0.4px;
  }
  .review-container {
    margin-left: 40px;
    padding-right: 50px;
  }
  .google-btn {
    width: 34%;
  }
  .trustpilot-btn {
    width: 34%;
  }
  .hidden-card {
    display: none !important;
  }
  .flex-container {
    display: flex;
  }
  .news-content {
    margin-left: 35px;
  }
  .main-search-btn {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .main-nav {
    display: none !important;
  }
  .main-search-btn {
    display: none !important;
  }
  #banner {
    text-align: center;
  }
  .contact-btn {
    display: none !important;
  }
  .support-btn {
    display: none !important;
  }
  .big-screen {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header {
    height: 16vh;
  }
  header .form-control {
    display: none;
  }
  .search-btn {
    display: none !important;
  }
  .hamburger-btn {
    height: 60px;
    width: 70px;
    margin-left: 20px;
  }
  #banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .visible-smaller {
    display: none !important;
  }
  .dash {
    margin-left: 20px;
  }
  .small-screen {
    display: none !important;
  }
}
@media (min-width: 1260px) {
  .hidden-card {
    display: inline;
  }
}
.main-nav a .app {
  color: #67809f;
}
.main-nav a .app a .app:hover {
  cursor: pointer;
  background-color: #ce4125;
}

.monitor {
  color: #4183d7;
}

.bars {
  color: #2ecc71;
}

.phone {
  color: #d64541;
}

.code {
  color: #926fb1;
}

.shield {
  color: #f62459;
}

.hat {
  color: #ce4125;
}

.support-btn {
  width: 150px;
  height: 60px;
  border-color: #4183d7;
  background-color: #4183d7;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
}
.support-btn:hover {
  filter: brightness(0.85);
  cursor: pointer;
}
.support-btn a {
  color: white;
  text-decoration: none;
  padding-left: 2px;
}

.contact-btn {
  width: 150px;
  height: 60px;
  margin-left: 10px;
  border-color: #9b9d9e;
  background-color: #9b9d9e;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
}
.contact-btn a {
  color: white;
  text-decoration: none;
  padding-left: 2px;
}

.contact-btn:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.main-search-btn {
  height: 60px;
  width: 60px;
  font-size: 25px;
  margin-left: 20px;
  background-color: #9b9d9e;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.main-search-btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.search-btn {
  margin-top: 1px;
  height: 40px;
  width: 40px;
  background-color: #e3e3e3;
  color: #333645;
  font-size: 20px;
  border: none;
  margin-left: -10px;
}
.search-btn:hover {
  cursor: pointer;
}

.hamburger-btn {
  border-radius: 5px;
  font-size: 30px;
  background-color: #333645;
  border-color: #333645;
  color: #fff;
  margin-left: 20px;
}
.hamburger-btn:hover {
  cursor: pointer;
}

.app-read-more {
  background-color: gray;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.app-read-more:hover {
  cursor: pointer;
}

.monitor-read-more {
  background-color: cyan;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.monitor-read-more:hover {
  cursor: pointer;
}

.bars-read-more {
  background-color: lawngreen;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.bars-read-more:hover {
  cursor: pointer;
}

.phone-read-more {
  background-color: red;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.phone-read-more:hover {
  cursor: pointer;
}

.code-read-more {
  background-color: purple;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.code-read-more:hover {
  cursor: pointer;
}

.shield-read-more {
  background-color: pink;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.shield-read-more:hover {
  cursor: pointer;
}

.hat-read-more {
  background-color: orange;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  color: #fff;
  text-transform: uppercase;
}
.hat-read-more:hover {
  cursor: pointer;
}

.about-read-more .about-btn {
  height: 60px;
  width: 30%;
  border-radius: 10px;
  border-color: #1e1a26;
  font-size: 16px;
  background-color: #1e1a26;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.about-read-more .about-btn em {
  font-size: 20px;
  font-weight: bold;
}

.about-btn:hover {
  cursor: pointer;
}

.google-btn {
  height: 6vh;
  width: 50vw;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #4387f6;
  margin-right: 15px;
  border: none;
}
.google-btn em {
  font-size: 14px;
  font-weight: bold;
}

.google-btn:hover {
  cursor: pointer;
}

.trustpilot-btn {
  height: 6vh;
  width: 60vw;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00b67b;
  margin-top: 10px;
  border: none;
}
.trustpilot-btn em {
  font-size: 14px;
  font-weight: bold;
}

.trustpilot-btn:hover {
  cursor: pointer;
}

.news-read-more-btn {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 30%;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #00b67b;
  text-transform: uppercase;
}
.news-read-more-btn:hover {
  cursor: pointer;
}

.red-news-read-more-btn {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 30%;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  background-color: red;
  text-transform: uppercase;
}
.red-news-read-more-btn:hover {
  cursor: pointer;
}

.sub-btn {
  width: 25%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #333645;
}
.sub-btn:hover {
  cursor: pointer;
}

.form-container .chat-btn {
  background-color: #04AA6D;
  color: #fff;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.open-button {
  background-color: #333645;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50px;
  z-index: 9999;
}

.close-btn {
  background-color: #333645;
  border: none;
  color: white;
  font-size: 20px;
  float: right;
  top: 0;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: normal;
}

.lock-scroll {
  overflow: hidden;
}

header {
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 10vh;
}

#service {
  padding-top: 30px;
  font-size: 2.7rem;
  color: #333645;
}

footer {
  background-color: #333645;
}

.cookie-container {
  padding-left: 5px;
  padding-right: 55px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#main {
  transition: margin-right 0.5s;
}

.seperator {
  border: 1px solid gray;
}/*# sourceMappingURL=style.css.map */