@import "../utilities/variables.scss";
@import "../components/images.scss";
@import "../components/buttons.scss";

html {
    font-size: 16px;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
}

.container {
    display: flex;
    margin-top: 10px;
}

.main-logo {
    margin-left: 0;
    width: 400px;
    padding: 10px;
}

  .form-control {
    float: right;
    width: 240px;
    margin-top: 14px;
    margin-left: 100px;
    height: 50px;
    border-radius: 0;
    border-color: #666;
  }

  .main-nav {
    position: relative;
    width: 100%;
    background-color: #333645;
    text-align: center;
    list-style-type: none;
    .main-nav .container {
        display: block;
    }
     a {
        text-decoration: none;
        color: $white;
    }
  }

.first-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.main-nav li {
    margin-left: 140px;
}

#banner img {
    object-fit: cover;
    height: 100%;
}

.h1 {
    position: absolute;
    top: 44%;
    left: 15%;
    color: $white;
    font-size: 4rem;
}

.content p {
    position: absolute;
    top: 63%;
    left: 15.5%;
    color: $white;
    font-size: 25px;
}
