@import "../utilities/variables.scss",
        "../components/images.scss",
        "../components/buttons.scss",
        "../content/banner.scss",
        "../content/navigation.scss",
        "../utilities/_media.scss";


html {
    font-size: 16px;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
}

.container {
    display: flex;
    margin-top: 10px;
}

.main-logo {
    margin-left: 0;
    width: 400px;
    padding: 10px;
}

  .form-control {
    float: right;
    width: 240px;
    margin-top: 14px;
    margin-left: 100px;
    height: 50px;
    border-radius: 0;
    border-color: #666;
  }




