@import "../utilities/variables.scss",
        "../components/images.scss",
        "../components/buttons.scss",
        "../content/banner.scss",
        "../content/navigation.scss",
        "../utilities/_media.scss",
        "../content/_header.scss",
        "../content/card.scss",
        "../content/about.scss",
        "../content/news.scss",
        "../content/newsletter.scss";


html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    overflow-x: hidden; 
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#service {
    margin-top: 100px;
    margin-left: 30px;
    font-size: 110px;
    color: rgb(70, 69, 69)
}

