.main-nav a .app {
    color: #67809f;
    a .app:hover {
        cursor: pointer;
        background-color: #ce4125;
    }
}

.monitor {
    color: #4183d7;
}

.bars {
    color: #2ecc71;
}

.phone {
    color: #d64541;
}

.code {
    color: #926fb1;
}

.shield {
    color: #f62459;
}

.hat {
    color: #ce4125;
}