// @media (min-width: 1500px) {
//     .main-nav {
//         background-color: pink;
//     }
// } An example of a media Query

// A media Query for the two review buttons so that the smallest screens put the buttons in a column.

@media (min-width: 600px) {
    .trustpilot-btn {
        width: 50%
    }
    .google-btn {
        width: 40%;
    }
}

// Screens under and over 767/768 px 

@media (max-width: 767px) {
    .hamburger-btn {
        height: 60px;
        width: 70px;
        font-size: 35px;
    }
    #banner {
        text-align: center;
    }
    .contact:hover {
        cursor: pointer;
        text-decoration: underline;
      } 
      .p1 {
        width: 100%;
    }
    .sidebar-navigation {
        display: none;
    }
}

@media (min-width: 768px) {
    .contact {
        display: none;
    }
    .header {
        height: 10vh;
    }
    .hamburger-btn {
        height: 60px;
        width: 70px;
    }
    .form-control {
        padding-left: 20px;
    }
    .h1 {
        width: 100%;
    }
    .p1 {
        width: 100%;
    }
    .cards {
        max-width: 93%;
        margin-left: 40px;
    }
    .container-2 {
        justify-content: center;
    }
    #service {
        margin-left: 35px;
    }
    .about-container {
        margin-left: 40px;
        padding-right: 50px;
        line-height: 1.875rem;
        letter-spacing: .4px;
    }
    .review-container {
        margin-left: 40px; 
        padding-right: 50px; 
    }
    .google-btn {
        width: 34%;
    }
    .trustpilot-btn {
        width: 34%;
    }
    .news {
        max-width: 93%;
        margin-left: 40px;
    }
    .hidden-card {
        display: none;
    }
    // .fourth-card {
    //     float: right;
    //     width: 50%;
    // }
    // .fifth-card {
    //     float: left;
    //     width: 50%;
    // }
    // .sixth-card {
    //     float: right;
    //     width: 50%;
    // }
    // .seventh-card {
    //     float: left;
    //     width: 50%;
    // } Will be uncommented once done. The float does not work and this needs to be researched. 
}

// screensizes with less than 999px

@media (max-width: 999px) {
    .main-nav {
        display: none;
    }
    .support-btn {
        display: none;
    }
    .contact-btn {
        display: none;
    }
    .main-search-btn {
        display: none;
    }
    #banner {
        text-align: center;
    }
} //This is just a test media query Right now that will make the main navigation disappaer if its less than 980px wide.

@media (max-width: 992px) {
    .contact-btn {
        display: none;
    }
    .support-btn {
        display: none;
    }
    .big-screen {
        display: none;
    }
} // Hides the two buttons on the header on smaller screens.

// screensizes with 1000+px

@media (min-width: 1000px) {
    .header-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header {
        height: 16vh;
    }
    header .form-control {
        display: none;
    }
    .search-btn {
        display: none;
    } // Hides the form control (search bar) from screens over 1000 px.
    .hamburger-btn {
        height: 60px;
        width: 70px;
        margin-left: 20px;
    }
    #banner h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    .visible-smaller {
        display: none;
    }
    .dash {
        margin-left: 20px;
    }
    .small-screen {
        display: none;
    }
    // .about-section {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: row;
    // }
    // .about-container {
    //     float: left;
    //     width: 50%;
    //     margin-left: 20px;
    //     padding-right: 30px;
    // }
    // .review-container {
    //     float: right;
    //     width: 50%;
    //     margin-left: 10px;
    //     padding-right: 10px;
    // } //This does not work right now and needs working on.
}
