// @media (min-width: 1500px) {
//     .main-nav {
//         background-color: pink;
//     }
// } An example of a media Query

// A media Query for the two review buttons so that the smallest screens put the buttons in a column.

@media (min-width: 600px) {
    .trustpilot-btn {
        width: 50%
    }
    .google-btn {
        width: 40%;
    }
}

// Screens under and over 767/768 px 

@media (max-width: 767px) {
    .main-logo {
        height: 13vh;
        width: 40%;
    }
    .hamburger-btn {
        height: 70px;
        width: 70px;
        font-size: 30px;
    }
    #banner {
        text-align: center;
    }
    .contact:hover {
        cursor: pointer;
        text-decoration: underline;
      }
}

@media (min-width: 768px) {
    .main-logo {
        height: 13vh;
        width: 40%;
    }
    .contact {
        display: none;
    }
    .hamburger-btn {
        height: 9vh;
        width: 10%;
        font-size: 35px;
    }
    .header {
        height: 10vh;
    }
    #service {
        margin-left: 40px;
    }
    .cards {
        width: 80%;
        margin-left: 40px;
    }
    .about-container {
        margin-left: 40px;
        padding-right: 50px;
        line-height: 1.875rem;
        letter-spacing: .4px;
    }
    .review-container {
        margin-left: 40px; 
        padding-right: 50px; 
    }
    .google-btn {
        width: 34%;
    }
    .trustpilot-btn {
        width: 34%;
    }
    .news {
        margin-left: 40px;
        width: 50%;
    }
    .hidden-card {
        display: none;
    }
}

// screensizes with less than 999px

@media (max-width: 999px) {
    .main-nav {
        display: none;
    }
    .support-btn {
        display: none;
    }
    .contact-btn {
        display: none;
    }
    .main-search-btn {
        display: none;
    }
} //This is just a test media query Right now that will make the main navigation disappaer if its less than 980px wide.

@media (max-width: 980px) {
    .contact-btn {
        display: none;
    }
    .support-btn {
        display: none;
    }
} // Hides the two buttons on the header on smaller screens.

// screensizes with 1000+px

@media (min-width: 1000px) {
    header .main-logo {
        width: 50%;
    }
    .header {
        height: 16vh;
    }
    header .form-control {
        display: none;
    }
    .search-btn {
        display: none;
    } // Hides the form control (search bar) from screens over 1000 px.
    .hamburger-btn {
        height: 60px;
        width: 70px;
        margin-left: 20px;
    }
}
