.cards {
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, max-width(900px, 1fr));
    gap: 40px;
    font-family: sans-serif;
    text-align: center;
}

.card {
    box-shadow: 0 0 3px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

.card-image {
    width: 100%;
    display: block;
}

.card-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    text-align: center;
    & p:first-of-type {
        margin-top: 0;
    }
    & p:last-of-type {
        margin-bottom: 0;
    }
}

.card-info {
    padding: 15px;
    display: flex;
    justify-content: center;
}

// Individual Span CSS

.card-app {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: gray;
}

.card-monitor {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: cyan;
}

.card-bars {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: lawngreen;
}

.card-phone {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
}  

.card-code {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: purple;
}

.card-shield {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: pink;
}

.card-hat {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
}

.card span {
    padding: 30px;
    font-size: 20px;
    color: $white;
    font-size: 40px;
}