.cards {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, max-width(900px, 1fr));
    gap: 40px;
    font-family: sans-serif;
    text-align: center;
    a {
        text-decoration: none;
        color: grey;
    }
}

.card {
    box-shadow: 0 0 3px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    height: 30vh;
}

.card-image {
    width: 100%;
    height: 20vh;
    display: block;
}

.card-content {
    font-size: 14px;
    & p:first-of-type {
        margin-top: 0;
    }
    h2 {
        font-size: 20px;
    }
}

.card-info {
    display: flex;
    justify-content: center;
}

// Individual Span CSS

.card-app {
    border-radius: 50%;
    background-color: gray;
}

.card-monitor {
    border-radius: 50%;
    background-color: cyan;
}

.card-bars {
    border-radius: 50%;
    background-color: lawngreen;
}

.card-phone {
    border-radius: 50%;
    background-color: red;
}  

.card-code {
    border-radius: 50%;
    background-color: purple;
}

.card-shield {
    border-radius: 50%;
    background-color: pink;
}

.card-hat {
    border-radius: 50%; 
    background-color: orange;
}

.card span {
    padding: 15px;
    font-size: 30px;
    color: $white;
}