.container {
    display: flex;
    margin-top: 10px;
}

.main-logo {
    margin-left: 0;
    width: 400px;
    padding: 10px;
}

  .form-control {
    float: right;
    width: 240px;
    margin-top: 14px;
    margin-left: 100px;
    height: 50px;
    border-radius: 0;
    border-color: #666;
  }
