.news {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    img{
        width: 100%;
    }
    .news-text {
        font-size: 80px;
        color: #2c2738;
    }
    .news-content {
        box-shadow: 0 0 3px rgb(0, 0, 0);
        width: 100%;
    }
    .h4-news {
        color: green;
        padding-top: 30px;
        padding-left: 40px;
        font-size: 30px;
    }
    .description {
        padding-left: 40px;
        font-size: 20px;
    }
    .red-h4-news {
        color: red;
        padding-top: 30px;
        padding-left: 40px;
        font-size: 30px;
    }
}

.view-all-section {
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 60px;
    text-align: center;
    .view-link {
        text-decoration: none;
        color: #333645;
    }
}