.news {
    padding-top: 10px;
    height: auto;
    width: 98%;
    flex-wrap: wrap;
    .card-space {
        margin-top: 20px;
    }
    .main-article-img {
        width: 100%;
    }
    .news-text {
        font-size: 2.7rem;
    }
    .news-content {
        box-shadow: 0 0 3px rgb(0, 0, 0);
        width: 100%;
    }
    .h4-news {
        color: green;
        padding-top: 10px;
        padding-left: 35px;
        font-size: 20px;
    }
    .description {
        padding-left: 40px;
        font-size: 15px;
    }
    .red-h4-news {
        color: red;
        padding-top: 30px;
        padding-left: 40px;
        font-size: 20px;
    }
    .avatar-img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
 }
    #posted-h5 {
        color: #333645;
    }
    #news-date {
        color: #333645
    }
}

.view-all-section {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    .view-link {
        text-decoration: none;
        color: #333645;
    }
}