.main-nav {
    display: flex;
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.125rem;
    background-color: #333645;
    justify-content: space-evenly; 
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    a:hover {
        .software{
            background-color: #67809f;
        }
        .support {
            background-color: #20caf5;
        }
        .marketing {
            background-color: green;
        }
        .telecoms {
            background-color:  #f72323;
        }
        .web-design {
            background-color: magenta;
        }
        .cyber-security {
            background-color: #f5116c;
        }
        .developer-course {
            background-color: orange;
        }
    }
    span {
        padding: 5px
    }
    small {
        font-size: 10px;
    }
     a {
        padding: 5px;
        text-decoration: none;
        color: $white;
    }
    .first-list {
        list-style: none;
        color: $white;
    }
    li {
        display: inline-block;
    }
  }

// #darker-body {
//     display: hidden;
//     box-shadow:0 0 0 10000px rgba(0,0,0,.50);
//    }



#body-shadow {
    display: hidden;
    box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}

  .sidebar {
    overflow: hidden;
    transition: 0.5s;
    height: 100%;
    position: fixed;
    z-index: 9998;
    right: 0;
    background-color: #333645;
    width: 0;
    top: 0;
    color: $white;
    overflow-y: scroll;
    bottom: 0;
    li {
        list-style: none;
        padding: 8px;
        background-color: rgba(0,0,0,.25);
        padding-top: 20px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 20px;
        line-height: 20px;
        border-top: 1px solid black;
        margin-right: 20px;
        margin-left: 20px;
    }
    ul {
        padding-left: 0;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    h3 {
        padding-bottom: 10px;
        font-size: 17px;
        margin-left: 10px;
        height: 10px;
        margin-bottom: 20px;
    }
    .right-arrows {
        font-size: 8px;
        margin-right: 20px;
        margin-left: 10px;
    }
    #top-sidebar {
        margin-top: 20px;
        border: 1px solid black;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 18px;;
        font-weight: 1;
    }
    span {
        font-size: 25px;
        margin-top: 20px;
    }
    .bigger-nav-button {
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid black;
        text-align: center;
    }
    .top-li {
        border: none;
    }
    .small-screen {
        text-align: center;
    }
    .big-screen li {
        width: 100%;
        list-style: none;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 20px;
        line-height: 20px;
        border-top: 1px solid black;
        margin-left: 0;
    }
    .small-screen-content li {
        width: 100%;
        padding-bottom: 20px;
        line-height: 20px;
        border-top: 1px solid black;
        margin-left: 0;
    }
    .small-screen-content .big-screen .right-arrows {
        margin-right: 10px;
        margin-left: 0;
    }
  }

  