.parent-conatiner {
    width: 65%;
}

#news-text {
    font-size: 2.7rem;
}

.card-space {
    margin-top: 20px;
}
.main-article-img {
    width: 100%;
}
.news-content {
    box-shadow: 0 0 3px rgb(0, 0, 0);
    // width: 100%;
}
.h4-news {
    color: green;
    padding-top: 10px;
    padding-left: 35px;
    font-size: 20px;
}
.description {
    padding-left: 40px;
    font-size: 15px;
}
.red-h4-news {
    color: red;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
}

.first-article:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    cursor: pointer;
}


.second-article:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    cursor: pointer;
}

.third-article:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
    cursor: pointer;
}

.posted-by-section {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    border-top: 1px solid lightgray                                                                                                                                                    ;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px
}

.avatar-img {
    margin: 10px;
}

.details {
    padding-top: 25px;
    padding-left: 15px;
}
.posted-strong {
    color: #333645;
    margin-top: 20px;
    line-height: 1.6rem;
    font-size: 15px;
    letter-spacing: normal;
}

.news-date {
    color: #333645;
    position: relative;
    margin-top: 40px;
}

.avatar-img {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
 }

 #posted-h5 {
    color: #333645;
    }
    
#news-date {
    color: #333645;
    padding-bottom: 20px;
}


.view-all-section {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    .view-link {
        text-decoration: none;
        color: #333645;
    }
    .view-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}