.support-btn {
	width: 150px;
    height: 40px;
    margin-left: 100px;
    margin-top: 20px;
    border-color: #4183d7;
    background-color: #4183d7;
    color: $white;
    font-size: 15px;
    letter-spacing: 2px;
    &:hover {
        filter: brightness(0.85)
    }
}

.contact-btn {
	width: 100%;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    border-color:   #9b9d9e;
    background-color: #9b9d9e;
    color: $white;
    font-size: 15px;
    letter-spacing: 2px;
    &:hover {
        filter: brightness(0.85)
    }
  }

  .search-btn { // The search button for the form. 
    height: 75px;
    width: 80px;
    background-color: #999aa2;
    color: $white;
    border-color: #666;
    font-size: 40px;
    &:hover {
        filter: brightness(0.85)
    }
}

.hamburger-btn { // The hamburger button for the header.
    height: 100px;
    width: 130px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 70px;
    background-color: #333645;
    border-color: #333645;
    color: $white;
}

 // The read me buttons for the card area

.app-read-more {
    background-color: gray;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.monitor-read-more {
    background-color: cyan;   
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    text-align: center;
    &:hover {
        cursor: pointer;
    } 
}

.bars-read-more {
    background-color: lawngreen;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.phone-read-more {
    background-color: red;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.code-read-more {
    background-color: purple;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.shield-read-more {
    background-color: pink;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

.hat-read-more {
    background-color: orange;
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 5px;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}

// The about us read more button

.about-read-more {
    .about-btn {
        height: 60px;
        width: 30%;
        border-radius: 10px;
        border-color: #1e1a26;
        font-size: 25px;
        background-color: #1e1a26;
        color: $white;
        em {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

 .google-btn {
    height: 6vh;
    width: 40%;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    background-color: #4387f6;
    em {
        font-size: 20px;
        font-weight: bold;
    }
}

.google-btn:hover {
    cursor: pointer;
}

.trustpilot-btn {
    height: 6vh;
    width: 40%;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    background-color: #00b67b;
    em {
        font-size: 20px;
        font-weight: bold;
    }
 }

 .trustpilot-btn:hover {
    cursor: pointer;
 }

 .news-read-more-btn {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 20%;
    border-radius: 5px;
    font-size: 25px;
    color: $white;
    background-color: #00b67b;
    &:hover {
        cursor: pointer;
    }
 }

 .red-news-read-more-btn {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 20%;
    border-radius: 5px;
    font-size: 25px;
    color: $white;
    background-color: red;
    &:hover {
        cursor: pointer;
    }
 }

 .sub-btn {
    width: 30%;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 10px;
    font-size: 40px;
    color: $white;
    background-color: #333645;
}

.form-container .chat-btn {
    background-color: #04AA6D;
    color: $white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.open-button {
    background-color: #333645;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
  }