li .fa-uncharted {
    color: #67809f;
}

.fa-desktop {
    color: #4183d7;
}

.fa-chart-simple {
    color: #2ecc71;
}

.fa-phone {
    color: #d64541;
}

.fa-code {
    color: #926fb1;
}

.fa-shield {
    color: #f62459;
}

.fa-graduation-cap {
    color: #ce4125;
}